@model IEnumerable<StatsParser.StatsEntry>
@{
    ViewData["Title"] = "Home Page";
}

<h1>stats</h1>
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>unique</th>
        <th>team kills</th>
        <th>damage</th>
        <th>deaths</th>
        <th>kills</th>
        <th>shots</th>
        <th>hits</th>
        <th>head shots</th>
        <th>bomb Defusions</th>
        <th>bomb Defused</th>
        <th>bomb Plants</th>
        <th>bomb Explosions</th>
    </tr>
    </thead>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.name</td>
            <td>@e.unique</td>
            <td>@e.tks</td>
            <td>@e.damage</td>
            <td>@e.deaths</td>
            <td>@e.kills</td>
            <td>@e.shots</td>
            <td>@e.hits</td>
            <td>@e.hs</td>
            <td>@e.bDefusions</td>
            <td>@e.bDefused</td>
            <td>@e.bPlants</td>
            <td>@e.bExplosions</td>
        </tr>
    }
</table>
